@{
    ViewBag.Title = "Home Page";
}

<h3>HOME PAGE</h3>
<!--
    
<div class="jumbotron">
    <h1>JUMBOTRON H1 INDEX</h1>
    <p class="lead">JUMBOTRON P INDEX</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">JUMBOTRON P WITH LINK INDEX</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ROW 1</h2>
        <p>
            ROW 1 P
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ROW 1 P Link</a></p>
    </div>
    <div class="col-md-4">
        <h2>ROW 2</h2>
        <p>
            ROW 2 P
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ROW 2 P Link</a></p>
    </div>
    <div class="col-md-4">
        <h2>ROW 3</h2>
        <p>
            ROW 3 P
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">ROW 3 P Link</a></p>
    </div>
</div>
    
    -->
